.bg-custom-green {
	background-color: #8CD867;
	color: black;
}

.bg-custom-white {
	background-color: #FAF9F6;
}

.bg-custom-orange {
	background-color: #FFE2AC;
}

.bg-custom-gray {
	background-color: #D9D9D9;
}


